@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.link_tag{
height: 76px;
background: #EAECF0;
display: inline-block;
border: 1px solid #EAECF0;
border-radius: 8px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;
font-family: 'Inter, sans-serif';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #101828;
}

.link_tag:hover{
background:#eaebee ;
}