
.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 88px;
  height: 88px;
  border-radius: 275px;
}
.profile_name{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 56px;
  padding-top: 24px;}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.camera {
  font-size: 1.5rem;
  padding: 16px 32px;
}